<div style="display: flex; flex-direction: column; align-items: center; width: 99vw; text-align: center; font-size: x-large;">
  <h1>{{{mensaje}}}</h1>  
  <div style="margin-top: 2em; width: 300px; border-width: 1px; border-color: black; background: darkgrey;">
    <a href="/ssr/main/">
      <button type="button" style="background-color: blue; color: aliceblue;">Back to List</button>
    </a>
  </div>
</div>