<a href="/"><span id="logo">INICIO</span></a>
<p>
  <b>500.</b>
  <ins>Internal Server Error.</ins>
</p>
<p>The server was unable to handle your request correctly. <ins>Please try again later.</ins></p>